<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ariclinic_ridocciConnection" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_ridocci" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>