body {
}
.titleBar
{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #2865CC;
	padding:5px;
	color: #FFFFFF;
}
.titleBar2
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #2865CC;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.titleScheduler
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #2865CC;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.titleBigBar
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	background-color: #2865CC;
	color: #FFFFFF;
	font-weight: bold;
}
.titleSmallText
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #2865CC;
	color: #FFFFFF;
	text-align:right;
}
.rightAligned
{
	text-align: right;
}
.normalText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:2px;
}
.optionsText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 2px;
	color: #003399;
}
.normalTextRed
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:2px;
	color: #CC0000;
}
.normalTextRight
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	text-align: right;
}
.messageText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	padding: 2px;
	border-top-style: solid;
	border-top-width: 1px;
}
.buttonsFomat
{
	border-color: #3366CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	padding: 2px;
	border-top-style: solid;
	border-top-width: 1px;
}
.buttonsFomat0
{
	border-color: #3366CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	padding: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.embGrid
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000099;
	padding:2px;
}
.ghost
{
	visibility:hidden;
	height:1px;
}
.frameData
{
    background-color: #CCD5E6;
    border: 1px solid #000080;
}
.leftColumnStyle
{
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #000080;
    padding: 2px;
}
.wellcomeLabel
{
    font-family: Verdana;
    font-size: 18px;
    color: #000080;
    padding:5px;
}
.wellcomeText
{
    font-family: Verdana;
    font-size: 12px;
    padding:5px;
}
.inTheMiddle
{
	vertical-align: middle;
}
.centered
{
	text-align:center;
}
.underlined
{
	border: 1px solid #0000FF;
}