<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="AriClinicContext" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_miestetic" providerName="MySql.Data.MySqlClient" />--><!--<add name="AriClinicContext" connectionString="server=anes.ariclinic.com;user id=anes;password=Aritel2011;persist security info=True;database=ariclinic_anes" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="AriClinicContext" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_vig" providerName="MySql.Data.MySqlClient" />-->
  <add name="AriClinicContext" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_anes" providerName="MySql.Data.MySqlClient" /><add name="Ariclinic_anesConnection" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_anes" providerName="MySql.Data.MySqlClient" /></connectionStrings>
</configuration>