<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AriClinicContext" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_ilozano"
      providerName="MySql.Data.MySqlClient" />
    <add name="AriCliReport.Properties.Settings.ariclinicreport"
      connectionString="server=localhost;User Id=root;password=aritel;Persist Security Info=True;database=ariclinic_miestetic"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>