<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApplicationServicesBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.afilnet.com/ws/v2/index.php" binding="basicHttpBinding"
                bindingConfiguration="ApplicationServicesBinding" contract="ServiceSMS.ApplicationServicesPortType"
                name="ApplicationServicesPort" />
        </client>
    </system.serviceModel>
</configuration>