<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="AriClinicContext" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_miestetic" providerName="MySql.Data.MySqlClient" />
        <add name="MIESTETIC" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=ariclinic_miestetic" providerName="MySql.Data.MySqlClient" />
        <add name="OFT" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Publicacion\OFT.mdb" />
    </connectionStrings>
</configuration>